#survey-form {
  margin-top: 10px;
  border: 1px solid teal;
  box-shadow: 5px 5px 20px;
  padding: 30px 30px 60px 30px;
  .btn-flat {
    &:hover {
      -webkit-animation: bounce .3s infinite alternate;
      -moz-animation: bounce .3s infinite alternate;
      animation: bounce .3s infinite alternate;
    }
  }
  @-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.1); }
  }
  @-moz-keyframes bounce {
    to { -moz-transform: scale(1.1); }
  }
  @keyframes bounce {
    to { transform: scale(1.1); }
  }
  @media screen and (max-width: 360px) {
    button, .btn-flat {
      font-size: 0.8rem;
      width: 90px;
    }
  }
}
