#dashboard {
  .fixed-action-btn {
    padding-top: initial !important;
    &:hover {
      -webkit-animation: bounce .3s infinite alternate;
      -moz-animation: bounce .3s infinite alternate;
      animation: bounce .3s infinite alternate;
    }
  }
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}
